# Data Types and Structures **Questions**

1. What are data structures, and why are they important?

 Data structures are ways of organizing and storing data so that it can be accessed and modified efficiently.

 Importance:

- Organize data logically (e.g., list of students, dictionary of user profiles)

- Improve performance (fast access, insertion, deletion)

- Help choose the right structure for the problem (e.g., sets for uniqueness)

2. Difference between mutable and immutable data types

 Mutable: Can be changed after creation (e.g., list, dict, set)

 Immutable: Cannot be changed after creation (e.g., int, float, tuple, str)

- Example:

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 100  # allowed

my_str = "hello"
my_str[0] = "H"   # Error: strings are immutable

3. Main differences between lists and tuple

- List - Mutable
       syntax - []
       Slower (more flexible)
       Data that changes

- Tuple - Immutable
          syntax - ()
          Faster (fixed)
          Fixed or constant data

4. How dictionaries store data?

 Dictionaries store data as key-value pairs using a structure called a hash table.

- Keys must be unique and immutable.

- Values can be of any type.

- Example :

In [ ]:
user = {"name": "Rahul", "age": 25}

5. Why use a set instead of a list in Python?

 Sets are unordered collections of unique items.

 Use a set when you don’t want duplicates and need fast membership checks.

- Example:

In [ ]:
a = [1, 2, 2, 3]
b = set(a)  # {1, 2, 3}

6. What is a string in Python, and how is it different from a list?

 A string is a sequence of characters (str = "hello").

 Like lists, strings are indexed, but strings are immutable.

 We can change l[0], but not s[0].

- Difference:

In [ ]:
s = "hello"
l = ['h', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python?

 Since tuples are immutable, their data can't be changed accidentally.

 Use case: Coordinates (x, y), database records, settings.

8. What is a hash table, and how does it relate to dictionaries in Python?

 A hash table is a data structure that maps keys to values using a hash function.

 In Python, dictionaries are implemented using hash tables, allowing O(1) average-time access.

9. Can lists contain different data types in Python?

 Yes. Python lists can contain elements of mixed types.

- Example:

In [ ]:
my_list = [1, "hello", 3.14, True]

10. Why are strings immutable in Python?

 Improves performance (e.g., string interning)

 Ensures security and data consistency

 Easier to cache and hash

- Example:

In [ ]:
s = "hello"
s[0] = "H"  # Error

11. What advantages do dictionaries offer over lists for certain tasks?

- List - Efficient
          lookup	Slow (linear search)
          Less intuitive
        
-	Dictionary -  Not applicable
                Fast (O(1) on average)
                More structured (key-value pairs)


Use dictionaries when we need named data access.

12. How do sets handle duplicate values in Python?

 Sets automatically remove duplicates.

- Example:

In [ ]:
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

13. How do sets handle duplicate values in Python?

 Use a tuple when data must remain constant:

- Example: Return multiple values from a function:
  Or when storing coordinates: (latitude, longitude)

In [ ]:
def get_user():
    return ("Rahul", 25)  # name and age as a tuple

14. How does the “in” keyword work differently for lists and dictionaries?

 In lists: checks if the value exists.

 In dicts: checks if the key exists (not the value).

- Example:

In [ ]:
x = [1, 2, 3]
print(2 in x)  # checks value

d = {"a": 1}
print("a" in d)  # checks key, not value

15. Can you modify elements of a tuple? Explain why not?

 No. Tuples are immutable, so you cannot change, add, or delete items once created.

- Example:

In [ ]:
t = (1, 2, 3)
t[0] = 100  # Error

16. What is a nested dictionary? Give an example?

 A nested dictionary is a dictionary within another dictionary.

- Example:

In [ ]:
students = {
    "101": {"name": "Amit", "marks": 85},
    "102": {"name": "Sneha", "marks": 92}
}

17. Describe the time complexity of accessing elements in a dictionary?

- Accessing a value by key: O(1) average time.

- Worst case: O(n) (if many keys hash to same bucket).

- Very efficient for large datasets.

18. When are lists preferred over dictionaries?

- Use lists when:

 Order matters

 we only need simple data storage

 No key-value mapping is needed

- Example:

In [ ]:
fruits = ["apple", "banana", "cherry"]

19. Why are dictionaries considered unordered, and how does that affect retrieval?

 Until Python 3.6, dictionaries were unordered — no guaranteed order of keys.

 Since Python 3.7, dictionaries preserve insertion order, but logic shouldn't depend on it unless required.

20. Explain the difference between a list and a dictionary in terms of data retrieval?

-	List - my_list[0]
         Not applicable
         Slower (O(n))

- Dictionary - Not applicable
               my_dict["name"]
               Faster (O(1))

# Practical **Questions**

1. Write a code to create a string with your name and print it.

In [ ]:
name = "Vishal"
print(name)

2. Write a code to find the length of the string "Hello World".

In [ ]:
print(len("Hello World"))

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "Python Programming"
print(text[:3])

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
print("hello".upper())

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I like apple"
print(text.replace("apple", "orange"))

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers = (10, 20, 5, 15)
print(min(numbers))

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'orange')
print("kiwi" in fruits)

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 & set2)

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {"name": "Vishal", "age": 23, "city": "Pune"}
print(person)

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}. result.(replaced)

In [ ]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

In [ ]:
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "kiwi"]
print(fruits[3])

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merged = {**dict1, **dict2}
print(merged)

30. Write a code to convert a list of strings into a set.

In [ ]:
words = ["apple", "banana", "apple", "orange"]
unique_words = set(words)
print(unique_words)